<h1>Flights from <%= params[:q].upcase %> to Anywhere</h1>
<p>Showing first 50 results.</p>
<hr />
<% @quotes.first(50).each do |result| %>
  <% place = @places.find {|place| place["PlaceId"] == result["OutboundLeg"]["DestinationId"] } %>

  <% if result["MinPrice"].to_i < 300 %>
    <% price_color = "success" %>
  <% elsif result["MinPrice"].to_i < 500 %>
    <% price_color = "warning" %>
  <% else %>
    <% price_color = "danger" %>
  <% end %>

  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div class="card card-outline-<%= price_color %> " id="location-card">
      <div class="card-block">
        <h4 class="card-title"><%= place["CityName"] %></h4>
        <h6 class="card-subtitle text-muted">$<%= result["MinPrice"].to_i %>.00</h6>
      </div>
      <%= image_tag "http://placehold.it/350x150", width: "100%",  class: "center-block" %>
      <div class="card-block center">
        <p class="card-text"><%= result["OutboundLeg"]["DepartureDate"].to_date.strftime("%A, %B %d %Y")%></p> <hr />
        <%= place["Name"] %>
      </div>
    </div>
  </div>


<% end %>